
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">

    <style>
		body {
			margin: 0;
			padding: 0;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background-color: #f5f5f5;
			color: #333;
		}
		header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
		h1 {
			font-size: 36px;
			font-weight: 300;
			margin: 0;
			padding: 0;
			line-height: 1.2;
		}
		nav {
			background-color: #f5f5f5;
			padding: 10px;
			text-align: center;
		}
		nav ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		nav li {
			display: inline-block;
			margin: 0 10px;
		}
		nav a {
			color: #333;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			padding: 5px 10px;
			border-radius: 5px;
			transition: background-color 0.3s ease;
		}
		nav a:hover {
			background-color: #333;
			color: #fff;
		}
		.container {
			margin: 0 auto;
			padding: 20px;
			max-width: 960px;
		}
		.featured {
			background-color: #fff;
			border: 1px solid #ccc;
			padding: 20px;
			margin-bottom: 20px;
			box-shadow: 0px 0px 10px #ccc;
			text-align: center;
		}
		.featured h2 {
			font-size: 24px;
			font-weight: 300;
			margin: 0;
			padding: 0;
			line-height: 1.2;
			margin-bottom: 10px;
		}
		.featured p {
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
			padding: 0;
			margin-bottom: 20px;
		}
		.btn {
			background-color: #333;
			color: #fff;
			padding: 10px 20px;
			border-radius: 5px;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
			transition: background-color 0.3s ease;
		}
		.btn:hover {
			background-color: #fff;
			color: #333;
			border: 1px solid #333;
			cursor: pointer;
		}
		footer {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
		footer p {
			margin: 0;
			padding: 0;
			font-size: 14px;
		}
	</style>
<body>
	<header>
		<h1>Cotizacion</h1>
	</header
    </style>
</head>
<body>
    <div class ="container">
        <center>
        </center>
    <form action="/cotizacion" method="p">
        <label for="">Valor del automovil</label>
        <input type="number" id="valor" name="valor" required>
        <label for ="">Porcentaje de pago inicial:</label>
        <select name="pinicial" id="pinicial">
            <option value="10">10%</option>
            <option value="30">30%</option>
            <option value="50">50%</option>
            <option value="70">70%</option>
        </select><br>

        <label for ="">Plazos:</label>
        <select name="plazo" id="plazo">
            <option value="12">12 meses</option>
            <option value="24">24 meses</option>
            <option value="36">36 meses</option>
            <option value="48">48 meses</option>
            <option value="60">60 meses</option>
        </select><br>
        <input type="submit"value="Subir">
        <input type="reset"value="borrar">
        <%
            let pagoinicial=0;
            let totalfin=0;
            let pmensual=0;
            if(valor!==null){
                let valor=1000;let pinicial=100;let totalfin=valor-pinicial;

                pagopnicial=valor*(pinicial/100);
                totalfin=valor-pagoinicial;
                pmensual=totalfin/plazo;
        %>
        <h3>Información de la cotizacion</h3>
            <hr> <br>   
        Valor del automovil: <%=valor%> : Porcentaje de pago:<%=pinicial%> Plazos: <%=plazo%> <br>
        Pago Inicial: <%=pagoinicial%> : Total a Financiar: <%totalfin%> Pago Mensual: <%=pmensual%>
        
        <%
    }
        %>
        <br>
        <br>
        <hr> 
    </form>
    </div>
</body>
</html>